<div class="row my-3">
    <div class="btn-group btn-group-lg" role="group" aria-label="Toolbar with button groups">
        <a class="btn btn-primary" href="#/pergunta/nova" role="button"><i class="fa fa-plus"></i> Nova Pergunta</a>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Enunciado</th>
                <th>Pontos</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Qual a diferença entre o charme e o funk?</td>
                <td>3000</td>
                <td>Diversidades</td>
                <td>
                    <div class="btn-group btn-group" role="group" aria-label="Toolbar with button groups">
                      <a href="#/pergunta/1" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Alternativas</a>
                      <a href="#/pergunta/editar/1" class="btn btn-secondary"><i class="fa fa-pencil"></i> Editar</a>
                      <a href="" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
