<div class="row my-3">
    <div class="btn-group btn-group-lg" role="group" aria-label="Toolbar with button groups">
        <a class="btn btn-primary" href="#/pergunta/nova" role="button"><i class="fa fa-plus"></i> Nova Pergunta</a>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Enunciado</th>
                <th>Pontos</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in perguntas">
                <td>{{p.id}}</td>
                <td>{{p.enunciado}}</td>
                <td>{{p.pontos}}</td>
                <td>{{p.categoria}}</td>
                <td>
                    <div class="btn-group btn-group" role="group" aria-label="Toolbar with button groups">
                      <a href="#/pergunta/{{p.id}}" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Alternativas</a>
                      <a href="#/pergunta/editar/{{p.id}}" class="btn btn-secondary"><i class="fa fa-pencil"></i> Editar</a>
                      <a href="#/" ng-click="remover($index)" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
